/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
}

#searchTitle {
    cursor: pointer;
}

#searchTitle:hover {
    text-decoration: underline;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
}

.poster {
    max-width: 100%;
    height: auto;
}